body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}


.icon{
	display: inline-block;
	float: left;
	margin: 5px;
	height: 30px;
	width: 30px;

}

.header{
	display: block;
	padding: 10px;
	margin: 0;
	width: 100%;
	color: white;
	background: lightblue;
	text-align: center;

}

.largeTitle{
	display: inline-block;
	font-size: 32px;
	margin: 0;
	padding: 16px;
	font: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.path{
	padding-left: 10px;
	color: #ffffff;
	background-color: lime;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}

.navigationBar{
	display: inline-block;
	padding: 10px;
	min-width: 20%;
	background: #4dd0e1;
	font-size: 18px;
}

.list{

}

.category{
	padding-left: 0;
	color: darkblue;
}

.subCategory{
	padding-left: 20px;
	color: mediumblue;
}

.product{
	padding-left: 20px;
	color: white;
}

.navigationPill{
	margin: 20px 0 20px 0;
	color: #ffffff;
	width: 80%;
	display: block;
}

.navigationPill:hover {
	text-decoration: none;
}



main{
	display: inline-block;
	margin: 0;
	padding: 5px;
	height: 1000px;
	max-width: 79%;
	color: #000000;
	background-color: #f5f5f5;
	font-size: 20px;

}



/*-----------------------------------------------------------product.html-------------------------------------------------------*/

.productName{
	text-align: center;
	font-size: 40px;
}

.imageTile{
	display: inline-block;
	margin: 10px;
	padding: 5px;
	width: 50%;
	border: 2px solid grey;
	border-radius: 2px;
	background-color: #ffff00;

}

.littleProductImage{
	display: inline-block;
	max-width: 33%;
	border: 1px solid grey;
	border-collapse: collapse;
}

.descriptionTile{
	display: inline-block;
	-webkit-box-align: start;
	-moz-box-align: start;
	-ms-box-align: start;
	box-align: start;
	margin: 10px;
	padding: 5px;
	height: 60px;
	width: 50%;
	border: 2px solid grey;
	border-radius: 2px;
	background-color: #ffff00;
	font-size: 12px;
	overflow: hidden;

}


.dealerRanking{
	margin: 10px;
	padding: 5px;
	border: 2px solid grey;
	border-radius: 2px;
	background-color: #ffff00;

}

.dealerLogo{
	height: 50px;

}





/*----------------------------------------------------category.html + subCategory.html-------------------------------------------------------*/

.productPreviewImage{
	max-width: 40px;
}


.previewTile{
	display: inline-block;
	margin: 10px;
	padding: 5px;
	width: 100px;
	border: 2px solid grey;
	border-radius: 2px;
	background-color: #ffff00;
	box-shadow: 0 1px 1px rgba(0,0,0,0.5);
	cursor: pointer;
}

.tileHeader{

}
