body{
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
}

a{
	text-decoration: none;
}

.headerWrapper{
	display: block;
	position: fixed;
	z-index: 99;
	width: 100%;

}

header{
	display: block;
	padding: 10px;
	margin: 0;
	width: 100%;
	color: white;
	background: lightblue;
	text-align: center;

}

.icon{
	float: left;
	margin: 16px;
	padding: 0;
	height: 30px;
	width: 30px;

}

.largeTitle{
	display: inline-block;
	font-size: 32px;
	margin: 15px;
	padding: 0;
	font: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.searchForm{
	float: right;
	margin: 16px;
	padding: 0;

}

.searchField{
	float: left;
	padding: 0 0 0 10px;
	border: none;
	border-radius: 15px;
	background-color: #ffffff;
	height: 30px;
}

.searchButton{
	float: right;
	margin-left: 10px;
	padding: 0;
	height: 30px;
	border: none;
	border-radius: 100%;
	background-color: #ffffff;
}

.addProduct{
	float: right;
	margin: 16px;
	padding: 0;
	height: 30px;
	border-radius: 100%;
	background-color: #ffffff;

}

.addProductIcon{
	margin: 0;
	height: 30px;
	width: 30px;

}

.path{
	display: block;
	padding: 0 0 0 10px;
	bottom: 0;
	width: 100%;
	color: #ffffff;
	background-color: lime;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	text-align: left;
}

.wrapper{
	display: block;
	position: absolute;
	top: 101px;
	width: 100%;
	height: 100%;

}

.main{
	display: block;
	float: right;
	margin: 0;
	padding: 5px;
	width: 70%;
	min-height: 100%;
	color: #000000;
	background-color: #f5f5f5;
	font-size: 20px;

}
/*---------------------------------------------------------------------sidebar-------------------------------------------------------*/

.sidebar{
	display: block;
	float: left;
	padding: 10px;
	width: 30%;
	min-height: 100%;
	background: #4dd0e1;
	font-size: 18px;
}

.navigationBar{

}

.navigationPill{
	display: block;
	margin: 20px 0 20px 0;
	width: 80%;
	color: #ffffff;

}

.navigationPill:hover {
	text-decoration: none;
}

.category{
	padding-left: 0;
	color: darkblue;
}

.subCategory{
	padding-left: 20px;
	color: mediumblue;
}

.product{
	padding-left: 20px;
	color: white;
}

.settings{

}



/*----------------------------------------------------category.html + subCategory.html-------------------------------------------------------*/

.categoryHeading{
	padding: 10px;
	text-align: center;
	font-size: 40px;
}

.previewTile{
	display: inline-block;
	margin: 10px;
	padding: 5px;
	height: 250px;
	max-width: 180px;
	background-color: #ffff00;
	box-shadow: 0 1px 1px rgba(0,0,0,0.5);
	cursor: pointer;
}

.tileHeader{
	white-space: normal;
	margin: 5px;
	padding: 0;

}

.productPreviewImage{
	display: block;
	margin: 0;

	max-width: 100%;
	bottom: 0;
}


/*-----------------------------------------------------------product.html-------------------------------------------------------*/

.productName{
	text-align: center;
	font-size: 40px;
}

.imageTile{
	display: inline-block;
	margin: 5px;
	padding: 5px;
	width: 30%;
	max-width: 200px;
	background-color: #ffff00;
	box-shadow: 0 1px 1px rgba(0,0,0,0.5);

}

.productImage{
	border: 1px solid grey;
	border-collapse: collapse;
	width: 30%;
	max-width: 200px;

}

.littleProductImage{
	display: inline-block;
	max-width: 30%;
	border: 1px solid grey;
	border-collapse: collapse;
}

.videoTile{
	display: inline-block;
	margin: 5px;
	padding: 5px;
	height: 50px;
	width: 30%;
	max-width: 200px;
	background-color: #ffff00;
	box-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

.productVideo{
	display: block;
}

.commentTile{
	display: inline-block;
	margin: 5px;
	padding: 5px;
	height: 50px;
	width: 30%;
	max-width: 200px;
	background-color: #ffff00;
	box-shadow: 0 1px 1px rgba(0,0,0,0.5);
	font-size: 12px;
}

.commentAuthor{
	font-size: 16px;
}

.descriptionTile{
	display: block;
	margin: 10px;
	padding: 5px;
	height: 20%;
	width: 50%;
	background-color: #ffff00;
	box-shadow: 0 1px 1px rgba(0,0,0,0.5);
	font-size: 12px;
	overflow: hidden;

}


.dealerRanking{
	margin: 10px;
	padding: 5px;
	background-color: #ffff00;
	box-shadow: 0 1px 1px rgba(0,0,0,0.5);

}

.dealerLogo{
	height: 50px;

}

.rating{
	float: right;
	height: 20%;
	width: 10%;
}


