<div ng-controller = "ProductController as product">
	<div class="productName">{{product.productName}}</div>
	<div class="imageTile" ng-if="product.imageExisting">
		<img class="productImage img-responsive" ng-src="{{product.productImage}}">
		<div>
			<img class="littleProductImage img-responsive" ng-src="{{littleImage}}" ng-repeat="littleImage in product.littleImages track by $index">
		</div>
	</div>
	<!--<div class="videoTile" ng-if="product.videoExisting">
		<img class="productVideo" ng-src="{{product.productVideo}}">
	</div>
	<div class="commentTile">

	</div>
	-->
	<div class="descriptionTile" ng-if="product.descriptionExisting">
		{{product.description}}
	</div>
	<div class="dealerRanking" ng-if="product.rankingExisting">
		<a ng-href="{{dealerLink}}" ng-repeat="dealerLink in product.dealerLinks">
			<img class="dealerLogo" ng-src="{{dealerLogo}}" ng-repeat="dealerLogo in product.dealerLogos"/>
		</a>
	</div>
	<!--Sternchenbewertung und Kommentar als erste Erweiterung-->
</div>